@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-color: #03141e;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.page-label {
  writing-mode: vertical-lr;
  left: -5rem;
  bottom: 0px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
